<div id="wrap">
    <header>
        <div class="container">
            <a href="#" class="SignIn">Sign in</a>
            <div class="clear"> </div>
        </div>
    </header>
    <section>
        <div class="container">
            <ul class="words-input">
                <li><input type="text" placeholder="word1"/></li>
                <li><input type="text" placeholder="word2"/></li>
                <li><input type="text" placeholder="word3"/></li>
                <li><input type="text" placeholder="word4"/></li>
                <li><input type="text" placeholder="word5"/></li>
                <li><input type="text" placeholder="word6"/></li>
                <li><input type="text" placeholder="word7"/></li>
                <li><input type="text" placeholder="word8"/></li>
                <li>
                    <input type="submit" class="big-button" name="SEND!"/>
                </li>

            </ul>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi fugit ipsam iure nihil qui quod, quos repellendus soluta. Ab cumque delectus error impedit ipsum, laboriosam praesentium quia reiciendis sunt velit.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis excepturi modi nemo obcaecati quas quia sit veritatis. Ab deserunt doloremque doloribus eius eos fugit necessitatibus nostrum optio suscipit tempore! Dolorum.
                </p>

            </div>
            <div class="clear"></div>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, ad, animi beatae cumque dolore est, et eum exercitationem facere fuga impedit incidunt iusto laudantium libero modi quae sunt voluptates. Dolorum.
            </p>
        </div>
    </footer>
</div>