<div id="wrap">
    <header>
        <nav class="navbar navbar-inverse" role="navigation">
        	<ul class="nav navbar-nav">
      			<li class="active"><a href="#">Link</a></li>
     			<li><a href="#">Link</a></li>
     			<li><a href="#" class="navbar-right">Sign in</a></li>
     		</ul>
        </nav>

    </header>
    <section>
        <div class="container">
        		<ul>
	        		<li><div class="col-lg-3"><input type="text" class="form-control" placeholder="word1" name="mainWord" /></div></li>
	                <li><input type="text" class="form-control" placeholder="word2" name="wordType1" /></li>
	                <li><input type="text" class="form-control" placeholder="word3" name="wordType2" /></li>
	                <li><input type="text" class="form-control" placeholder="word4" name="wordType3" /></li>
	                <li><input type="text" class="form-control" placeholder="word5" name="wordType4" /></li>
	                <li><input type="text" class="form-control" placeholder="word6" name="wordType5" /></li>
	                <li><input type="text" class="form-control" placeholder="word7" name="wordType6" /></li>
	                <li><input type="text" class="form-control"  placeholder="word8" name="wordType7" /></li>
	                <li><input type="submit" class="btn btn-default" name="SEND!"/>	</li>
        		</ul>
                
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi fugit ipsam iure nihil qui quod, quos repellendus soluta. Ab cumque delectus error impedit ipsum, laboriosam praesentium quia reiciendis sunt velit.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis excepturi modi nemo obcaecati quas quia sit veritatis. Ab deserunt doloremque doloribus eius eos fugit necessitatibus nostrum optio suscipit tempore! Dolorum.
                </p>

            </div>
            <div class="clear"></div>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, ad, animi beatae cumque dolore est, et eum exercitationem facere fuga impedit incidunt iusto laudantium libero modi quae sunt voluptates. Dolorum.
            </p>
        </div>
    </footer>
</div>