<div id="wrap">
    <header>
        <div class="container">
            <a href="#" class="SignIn">Sign in</a>
            <div class="clear"> </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="checkbox-list row">
                <div class="span3">
                    <h1 class="">Words</h1>
                    <label class="checkbox" for="checkbox1">
                        <span class="icons">
                            <span class="first-icon fui-checkbox-unchecked"></span>
                            <span class="second-icon fui-checkbox-checked"></span>
                        </span>
                        <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                        Unchecked
                    </label>
                    <label class="checkbox checked" for="checkbox2">
                        <span class="icons">
                            <span class="first-icon fui-checkbox-unchecked"></span>
                            <span class="second-icon fui-checkbox-checked"></span>
                        </span>
                        <input type="checkbox" value="" id="checkbox2" data-toggle="checkbox">
                        Checked
                    </label>
                    <label class="checkbox disable" for="checkbox3">
                        <span class="icons">
                            <span class="first-icon fui-checkbox-unchecked"></span>
                            <span class="second-icon fui-checkbox-checked"></span>
                        </span>
                        <input type="checkbox" value="" id="checkbox3" data-toggle="checkbox">
                        Checked
                    </label>
                </div>
                <li>
                    <input type="checkbox" id="check1" />
                    <label for="check1"></label>
                </li>
                <li>
                    <input type="checkbox" id="check2"/>
                    <label for="check2"></label>
                </li>
                <li>
                    <input type="checkbox" id="check3"/>
                    <label for="check3"></label>
                </li>
                <li>
                    <input type="checkbox" id="check4"/>
                    <label for="check4"></label>
                </li>
                <li>
                    <input type="checkbox" id="check5"/>
                    <label for="check5"></label>
                </li>
                <li>
                    <input type="checkbox" id="check6"/>
                    <label for="check6"></label>
                </li>
                <li>
                    <input type="checkbox" id="check7"/>
                    <label for="check7"></label>
                </li>
                <li>
                    <input type="checkbox" id="check8"/>
                    <label for="check8"></label>
                </li>
            </ul>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi fugit ipsam iure nihil qui quod, quos repellendus soluta. Ab cumque delectus error impedit ipsum, laboriosam praesentium quia reiciendis sunt velit.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis excepturi modi nemo obcaecati quas quia sit veritatis. Ab deserunt doloremque doloribus eius eos fugit necessitatibus nostrum optio suscipit tempore! Dolorum.
                </p>

            </div>
            <div class="clear"></div>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, ad, animi beatae cumque dolore est, et eum exercitationem facere fuga impedit incidunt iusto laudantium libero modi quae sunt voluptates. Dolorum.
            </p>
        </div>
    </footer>
</div>